# Ignore compiled Python files and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/

# Ignore local development settings
.env

# Ignore IDE and editor-specific files
.idea/
.vscode/

# Ignore system and temporary files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore generated or build files
dist/
build/
*.egg-info/
*.egg

# Ignore user-specific settings files
*.swp
*.swo

# Ignore data or media files (specific to your project)
data/
media/

# Ignore compiled or generated JavaScript or CSS files
static/
node_modules/
